@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

html, body {margin: 0; background-color: #ebe9e5; color: #858585; font-family: 'Open Sans', Arial, serif; font-weight: 300; font-size: 1em; line-height: 1.9em;}

#fixed, #fluid{padding-top: 20px; padding-left:20px; margin: 0;}
#fluid {overflow:hidden; padding-left: 34vw; padding-right: 9vw;}
#fixed {
  position: fixed;
  float:left;
  width: 20vw;
  height: 100vh;
  max-height:100vh
}

.cord{
  width: 35em;
  height: 2em;
  border-left: 3px solid #F16F00;
}

footer {
 flex-shrink: 0 !important;
}
footer {
  border-radius: 30px;
  background-color:#F16F00;
  width: 2000px;
  height: 10px;
}

.maps{
  position: relative;
  left: 5%;
  max-width: 100%;
  max-height: 400px;
  border-radius: 25px;
}

.cord{
  width: 35em;
  height: 2em;
  border-left: 3px solid #F16F00;
}

.sub_title{
  color: #004e98;
}

p{
  font-family: 'Libre Franklin Medium', sans-serif;
}


  .badge{
    max-width: 100%;
    height: 140px;
  }


.rotated-text {
    display: inline-block;
    overflow: hidden;
    width: 20em;
    font-weight: 800; 
    font-size: 8em; 
    line-height: 60px;
    color: #004e98;
    padding-left: 68px;
    border-left: 3px solid #F16F00;
  }
  .rotated-text__inner {
    display: inline-block;
    -webkit-transform: translate(1.1em,0) rotate(90deg);
    -moz-transform: translate(1.1em,0) rotate(90deg);
    -o-transform: translate(1.1em,0) rotate(90deg);
    transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -ms-transform: none;
    -ms-transform-origin: none;
    -ms-writing-mode: tb-rl;
    *writing-mode: tb-rl;
  }
  .rotated-text__inner:before {
    content: "";
    float: left;
    margin-top: 100%;
  }


  body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #E3E0D8;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #3A6EA5;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #E3E0D8;  /* creates padding around scroll thumb */
  }
  