@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

html, body {margin: 0; background-color: #ebe9e5; color: #858585; font-family: 'Open Sans', Arial, serif; font-weight: 300; font-size: 1em; line-height: 1.9em;}

#fixed, #fluid{padding-top: 20px; padding-left:20px; margin: 0;}
#fluid {overflow:hidden; padding-left: 34vw; padding-right: 9vw;}
#fixed {
  position: fixed;
  float:left;
  width: 20vw;
  height: 100vh;
  max-height:100vh
}


.hr{
  border: 2px solid #F16F00;
  border-radius: 5px;
}


footer {
  flex-shrink: 0 !important;
}
footer {
  border-radius: 30px;
  background-color:#F16F00;
  width: 2000px;
  height: 10px;
  
}

.maps{
  max-width: 113%;
  height: 400px;
  border-radius: 25px;
}

.cord{
  width: 35em;
  height: 2em;
  border-left: 3px solid #F16F00;
}

.sub_title{
  color: #004e98;
}

p{
  font-family: 'Libre Franklin Medium', sans-serif;
}

.rotated-text {
    display: inline-block;
    overflow: hidden;
    width: 20em;
    font-weight: 800; 
    font-size: 6em; 
    line-height: .41em;
    color: #004e98;
    padding-left: 78px;
    border-left: 3px solid #F16F00;
  }
  .rotated-text__inner {
    display: inline-block;
    /* white-space: nowrap; */
    /* this is for shity "non IE" browsers
    that dosn't support writing-mode */
    -webkit-transform: translate(1.1em,0) rotate(90deg);
    -moz-transform: translate(1.1em,0) rotate(90deg);
    -o-transform: translate(1.1em,0) rotate(90deg);
    transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    /* IE9+ */
    -ms-transform: none;
    -ms-transform-origin: none;
    /* IE8+ */
    -ms-writing-mode: tb-rl;
    /* IE7 and below */
    *writing-mode: tb-rl;
  }
  .rotated-text__inner:before {
    content: "";
    float: left;
    margin-top: 100%;
  }


  body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #E3E0D8;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #3A6EA5;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #E3E0D8;  /* creates padding around scroll thumb */
  }

  hr{
    border: 2px solid #F16F00;
    border-radius: 5px;
  }

.customers{
  margin-top: 13px;
  max-width: 100%;
  position: relative;
  bottom: 30px;
}

  .vendor{
    max-width: 100%;
    border-radius: 20px;
  }

  .originator{
    position: relative;
    bottom: 131px;
    right: 59px;
    width: 50px;
  }

  .manager{
    position: relative;
    bottom: 311px;
    right: 66px;
    width: 50px;
  }

.po{
    position: relative;
    bottom: 221px;
    right: 66px;
    width: 50px;

}

  .newrequest{
    position: relative;
    bottom: 165px;
  }

  .wf_originator{
    max-width: 145%;
    position: relative;
    bottom: 135px;
    right: 111px;
  }

  .cases{
    position: relative;
    bottom: 120px;
  }

  .dot{
    position: relative;
    top: 4px;
  }

  .po_consultation{
    max-width: 80%;
    position: relative;
    bottom: 101px;
  }

  .bizhead-approval{
    max-width: 80%;
    position: relative;
    bottom: -30px;
  }

  .bizhead{
    position: relative;
    bottom: 436px;
    right: 66px;
    width: 50px;
  }

  .ceo{
    position: relative;
    bottom: 289px;
    right: 66px;
    width: 50px;
  }

  .ceo-approval{
    max-width: 86%;
    position: relative;
    right: 67px;
    bottom: -37px;
  }